@plugin "daisyui/theme" {
	name: "mytheme";
	default: true; /* set as default */
	prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
	color-scheme: light; /* color of browser-provided UI */

	--color-primary: var(--primary);
	--color-primary-content: #cecece;

	--color-secondary: var(--secondary);
	--color-secondary-content: #cecece;

	--color-accent: var(--accent);
	--color-accent-content: var(--primary);

	--color-neutral: var(--grey);
	--color-neutral-content: #cecece;

	--color-info: var(--info);
	--color-info-content: #333333;

	--color-success: var(--success);
	--color-success-content: #333333;

	--color-warning: var(--warning);
	--color-warning-content: #333333;

	--color-error: var(--error);
	--color-error-content: #333333;

	--color-base-100: var(--bg-dark);
	--color-base-200: var(--bg-default);
	--color-base-300: var(--bg-light);
	--color-base-content: #333333;

	/* border radius */
	--radius-selector: 1rem; /* For small sized components like checkbox, toggle, badge, etc. */
	--radius-field: 0.25rem; /* For medium sized components like button, input, select, tab, etc. */
	--radius-box: 0.5rem; /* For large sized components like card, modal, alert, etc. */

	/* base sizes */
	--size-selector: 0.25rem;
	--size-field: 0.25rem;

	/* border size */
	--border: 2px;

	/* effects */
	--depth: 1;
	--noise: 0;
}
